h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: lower;
  position: relative;
  &::before {
    color: var(--primary-color);
    font-weight: 600;
  }
  @media screen and (max-width: 1000px) {
    left: 0;
  }
}

h1::before {
  content: "# ";
}
h2::before {
  content: "## ";
}
h3::before {
  content: "### ";
}
h4::before {
  content: "#### ";
}
h5::before {
  content: "##### ";
}
h6::before {
  content: "###### ";
}
