$font-size: 15px;
$line-height: 1.4em;
$space: 10px;

:root {
  --font-stack: FiraCode Nerd Font, Fira Code, Fira Mono, monospace;
}

* {
  box-sizing: border-box;
  text-rendering: geometricPrecision;

  // do not put together, breaks for some reason
  &::selection {
    background: $base0B;
    color: $base00;
  }
  &::-moz-selection {
    background: $base0B;
    color: $base00;
  }
}

body {
  font-size: $font-size;
  color: $base05;
  line-height: $line-height;
  margin: 0;
  font-family: var(--font-stack);
  word-wrap: break-word;
  background-color: $base00;
}

h1,
h2,
h3,
h4,
h5,
h6,
.logo {
  line-height: $line-height;
}

a {
  cursor: pointer;
  color: $base0B;
  text-decoration: none;

  &:hover {
    background-color: $base0B;
    color: $base00;
  }
}

em {
  font-size: $font-size;
  font-style: italic;
  font-family: var(--font-stack);
  color: $base05;
}

blockquote,
code,
em,
strong {
  line-height: $line-height;
}

blockquote,
code,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
li,
ol,
p,
section,
ul,
.logo {
  float: none;
  margin: 0;
  padding: 0;
}

blockquote,
h1,
ol,
p,
ul,
.logo {
  margin-top: $space * 2;
  margin-bottom: $space * 2;
}

h1,
.logo {
  position: relative;
  display: inline-block;
  display: table-cell;
  padding: $space * 2 0 $space * 2;
  margin: 0;
  overflow: hidden;
  font-weight: 600;
}

h1 + *,
.logo + * {
  margin-top: 0;
}

h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin-bottom: $line-height;
  font-weight: 600;
}

blockquote {
  position: relative;
  padding-left: $space * 2;
  padding-left: 2ch;
  overflow: hidden;
}

blockquote::after {
  content: repeat(">\A", 10); // 10 lines max
  white-space: pre;
  position: absolute;
  top: 0;
  left: 0;
  line-height: $line-height;
  color: #9ca2ab;
}

code {
  font-weight: inherit;
  background-color: $base02;
  font-family: var(--font-stack);
}

code::after,
code::before {
  content: "`";
  display: inline;
}

pre code::after,
pre code::before {
  content: "";
}

pre {
  display: block;
  word-break: break-all;
  word-wrap: break-word;
  color: $base04;
  background-color: $base00;
  border: 1px solid $base04;
  padding: $space;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
}

pre code {
  overflow-x: scroll;
  padding: 0;
  margin: 0;
  display: inline-block;
  min-width: 100%;
  font-family: var(--font-stack);
}

blockquote,
code,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
.logo {
  font-size: $font-size;
  font-style: normal;
  font-family: var(--font-stack);
  color: $base05;
}

.terminal-prompt {
  position: relative;
  white-space: nowrap;
}

li,
li > ul > li {
  position: relative;
  display: block;
  padding-left: $space * 2;
}

nav > ul > li {
  padding-left: 0;
}

li::after {
  position: absolute;
  top: 0;
  left: 0;
}

ul > li::after {
  content: "-";
}

nav ul > li::after {
  content: "";
}

ol li::before {
  content: counters(item, ".") ". ";
  counter-increment: item;
}

ol ol li::before {
  content: counters(item, ".") " ";
  counter-increment: item;
}

.terminal-menu li::after,
.terminal-menu li::before {
  display: none;
}

ol {
  counter-reset: item;
}

ol li:nth-child(n + 10)::after {
  left: -7px;
}

ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

.terminal-menu {
  width: 100%;
}

.terminal-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

.terminal-menu ul {
  list-style-type: none;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  font-size: $font-size;
  margin-top: 0;
}

.terminal-menu li {
  display: flex;
  margin: 0 0 0.5em 0;
  padding: 0;
}

.terminal-menu li:last-child {
  margin-bottom: 0;
}

.terminal-menu li a:not(.btn) {
  text-decoration: none;
  display: block;
  width: 100%;
  border: none;
  color: $base04;
}

.terminal-menu li a.active {
  color: $base05;
}

.terminal-menu li a:hover {
  background: none;
  color: inherit;
}

hr {
  position: relative;
  overflow: hidden;
  margin: $space * 4 0;
  border: 0;
  border-bottom: 1px dashed $base04;
}

p {
  margin: 0 0 $line-height;
  color: var(--global-font-color);
}

.container {
  max-width: 60em;
}

.container,
.container-fluid {
  margin: 0 auto;
  padding: 0 $space * 2;
}

img {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: $line-height 0;
  color: $base05;
  font-size: $font-size;
}

table td,
table th {
  vertical-align: top;
  border: 1px solid $base05;
  line-height: $line-height;
  padding: $space / 2;
  font-size: 1em;
}

table thead th {
  font-size: 1em;
}

table tfoot tr th {
  font-weight: 500;
}

table caption {
  font-size: 1em;
  margin: 0 0 1em 0;
}

table tbody td:first-child {
  font-weight: 700;
  color: $base04;
}

@media screen and (max-width: 960px) {
  label {
    display: block;
    width: 100%;
  }

  pre::-webkit-scrollbar {
    height: 3px;
  }
}

@media screen and (max-width: 480px) {
  form {
    width: 100%;
  }
}

@media only screen and (min-width: 30em) {
  .terminal-nav {
    flex-direction: row;
    align-items: center;
  }

  .terminal-menu ul {
    flex-direction: row;
    justify-items: flex-end;
    align-items: center;
    justify-content: flex-end;
    margin-top: $space * 2;
  }

  .terminal-menu li {
    margin: 0;
    margin-right: 2em;
  }

  .terminal-menu li:last-child {
    margin-right: 0;
  }
}

figure > img {
  padding: 0;
}

figure {
  margin: 0;
}

figure > figcaption {
  color: $base04;
  text-align: center;
}
