@import "_colors";
@import "_headings";
@import "_terminal";

.terminal-command,
.terminal-menu li {
  color: var(--secondary-color);

  &,
  & a {
    transition: color 0.2s;
  }
  & a:hover {
    color: var(--font-color);
  }
}


.terminal-prompt {
  &::before, &::after {
    content: none;
  }
}

.alt {
  color: var(--base04)
}
