<footer class="container">
  <div class="terminal-menu">
    <ul>
      <li>
        <a href="{{ config.repository.url }}" target="_blank" rel="noopener"
          > {{ config.repository.text }}</a
        >
      </li>
    </ul>
  </div>
</footer>
