@font-face {
  font-family: "FiraCode Nerd Font";
  src: url("fonts/fira-code-regular-nerd-font.woff2");
  font-weight: normal;
}

@font-face {
  font-family: "FiraCode Nerd Font";
  src: url("fonts/fira-code-bold-nerd-font.woff2");
  font-weight: bold;
  font-style: normal;
}
