@font-face {
  font-family: "FiraCode Nerd Font";
  src: url("fonts/fira-code-nerd-font-regular.woff2");
  font-weight: normal;
}

@font-face {
  font-family: "FiraCode Nerd Font";
  src: url("fonts/fira-code-nerd-font-bold.woff2");
  font-weight: bold;
  font-style: normal;
}
