@font-face {
  font-family: 'FiraCode Nerd Font';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/fira-code-regular-nerd-font-complete.woff2) format('woff2');
}

@font-face {
  font-family: 'FiraCode Nerd Font';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/fira-code-bold-nerd-font-complete.woff2) format('woff2');
}
