<footer class="container">
  <div class="terminal-menu">
    <ul>
      <li>
        <a href="https://github.com/jyooru/website" target="_blank">repo</a>
      </li>
      <li>
        <a
          href="https://github.com/jyooru/website/blob/main/{{
            page.inputPath
          }}"
          >file</a
        >
      </li>
    </ul>
  </div>
</footer>
