<div class="container">
  <div class="terminal-nav">
    <header class="terminal-logo">
      <div class="logo terminal-prompt">
        <a href="/" class="no-style"
          >joel.tokyo:{{ page.url | remove_extension }}$</a
        >
        <span class="terminal-command">cd&nbsp;</span>
      </div>
    </header>
    <div class="terminal-menu">
      <nav>
        <ul>
          <li><a href="/" class="menu-item">/</a></li>
          <li><a href="/keys/" class="menu-item">/keys</a></li>
          <li><a href="/contact" class="menu-item">/contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
