.site-header {
  border-color: $background-color;
}

.site-footer {
  border-color: $background-color;
}

.site-nav .page-link,
.site-title {
  color: $site-title-color;
  font-weight: 700;
}

.feed-subscribe {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
