// h1 {
//   left: (-9px * 1) + -9.02px;
//   &::before {
//     content: "# ";
//   }
// }
h2 {
  left: (-9px * 2) + -9.02px;
  &::before {
    content: "## ";
  }
}
h3 {
  left: (-9px * 3) + -9.02px;
  &::before {
    content: "### ";
  }
}
h4 {
  left: (-9px * 4) + -9.02px;
  &::before {
    content: "#### ";
  }
}
h5 {
  left: (-9px * 5) + -9.02px;
  &::before {
    content: "##### ";
  }
}
h6 {
  left: (-9px * 6) + -9.02px;
  &::before {
    content: "###### ";
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  &::before {
    color: var(--secondary-color);
    font-weight: 600;
  }
  @media screen and (max-width: 1000px) {
    left: 0;
  }
}
